@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
color palette
pastol light blue #C6E7FF
pastol lighter blue #D4F6FF
pastol white #FBFBFB
pastol orange #FFDDAE
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #C6E7FF;
    color: #333;
    line-height: 1.6;
}

.nav-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#menu-toggle {
    display: block;
}

.nav-bar {
    background-color: #FBFBFB;
    color: black;
    padding: 1rem;
    text-align: center;
    width: 75%;
    min-height: 57px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-bar a {
    color: black;
    text-decoration: none;
    margin: 0 2rem;
    display: inline-block;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: black;
    float: right;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

@media screen and (max-width: 795px) {
    .nav-bar-container {
        justify-content: center;
        margin-left: 10px;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: auto;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 20px;
    }
    .nav-bar a {
        display: none;
        margin: 0.5rem 0;
    }

    .material-symbols-outlined {
        display: block;
        padding-left: 20px; /*for centering*/
    }
    
}

.head {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 790px) {
    .head {
        font-size: 1.8rem;
    }
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0.5rem;
    gap: 20px;
}

.home .intro {
    padding: 1rem;
    background-color: #FBFBFB;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    width: 50%;
    min-width: 300px;
}

.home .intro .hi {
    font-size: 2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 795px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home .intro {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.home .profile-img img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.buttons .btn {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 100px;
    color: #333;
    background: #FFDDAE;
    transition: background-color 0.2s, color 0.3s;
}

.buttons .btn:hover {
    background-color: #FFC078;
    color: #fff;
}