@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
color palette
Dark Charcoal #333333
White Smoke #F7F4F3
Sky Blue #96CCD7
Marigold #B18121
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #595959;
    color: #333;
    line-height: 1.6;
}

.nav-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#menu-toggle {
    display: none;
}

.nav-bar {
    background-color: #333;
    color: #F7F4F3;
    padding: 1rem;
    text-align: center;
    width: 75%;
    min-height: 57px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem;
    display: inline-block;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

@media screen and (max-width: 795px) {
    .nav-bar-container {
        justify-content: flex-end;
        margin-left: 10px;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 20%;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 20px;
    }
    .nav-bar a {
        display: none;
        margin: 0.5rem 0;
    }

    .material-symbols-outlined {
        display: block;
        padding-left: 20px; /*for centering*/
    }
    
}
